<section>
  <header class="filter">
    <span>
      <i class="material-icons md-36" title="Добавить работника" (click)="newWorker()">person_add</i>
    </span>
    <input type="search" placeholder="Поиск..." [(ngModel)]="filterText">
  </header>
  <main *ngIf="!workerLoading">
    <ul *ngIf="workerService.workers.length; else noWorkers">
      <li class="title">
        <span><strong>Name</strong></span>
        <span><strong>Salary</strong></span>
        <span><strong>Job</strong></span>
      </li>
      <li *ngFor="let worker of workerService.workers | workersFilter:filterText"
        [class.selected]="worker.selected"
        (click)="select(worker)">
        <span>{{ worker.name }}</span>
        <span class="number-data">{{ worker.salary }}</span>
        <span>{{ worker.job }}</span>
        <i class="material-icons" title="Добавить задачу" (click)="newTask()">add</i>
        <i class="material-icons" title="Редактировать" (click)="change(worker)">edit</i>
        <i class="material-icons" title="Удалить" (click)="remove(worker.id)">delete_forever</i>
      </li>
    </ul>
    <ng-template #noWorkers>Пусто</ng-template>
  </main>
  <p *ngIf="workerLoading">
    Loading...
  </p>
</section>
