ul {

  li {
    border: 1px solid #cccccc;
    border-radius: 5px;

    span {
      width: 100%;
      text-align: left;
      align-items: left;
    }

    input {
      margin-right: 1rem;
    }

    &:hover:not(.title) {
      box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
      cursor: pointer;
    }
  }
}

.done {
  text-decoration: line-through;
}
