<div>
  <strong>Задачи на: {{ dateService.dateBehaviorSubject | async | date : "dd.MM.yyyy" }}</strong>
  <hr/>
  <ul *ngIf="taskService.tasks.length; else noTask">
    <li *ngFor="let task of taskService.tasks">
      <input type="checkbox" title="Завершить" [checked]="task.isdone" (click)="onCheck(task)">
      <span [class.done]="task.isdone">
        {{ task.title }}
      </span>
      <i class="material-icons" title="Редактирвать" (click)="update(task)">edit</i>
      <i class="material-icons" title="Удалить" (click)="delete(task.id)">delete_forever</i>
    </li>
  </ul>
  <ng-template #noTask>Пусто</ng-template>
</div>
