<h2 mat-dialog-title align="center">{{ title }}</h2>
<hr/>
<mat-dialog-content class="dialog" [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Name" minlength="3" formControlName="name" required>
    <mat-error *ngIf="name?.invalid">{{ getErrorMsg('name') }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" min="0" placeholder="Salary" formControlName="salary" required>
    <mat-error *ngIf="salary?.invalid ">{{ getErrorMsg('salary') }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Job" formControlName="job" required>
    <mat-error *ngIf="job?.invalid">{{ getErrorMsg('job') }}</mat-error>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]>Отмена</button>
  <button mat-raised-button [disabled]="form.invalid" [mat-dialog-close]="form.value">Сохранить</button>
</div>



<!--
<div>
  <strong>Новый работник:</strong>
  <hr/>
  <form novalidate (ngSubmit)="submit(worker)" [formGroup]="worker">
<ul>
  <li>
    <input type="text" placeholder="Name" formControlName="name">
    <span class="error" *ngIf="worker.get('name').hasError('required') && worker.get('name').touched"> Введите имя </span>
    <span class="error" *ngIf="worker.get('name').hasError('minlength') && worker.get('name').touched"> Минимальная длина имени 3 символа </span>
  </li>
  <li>
    <input class="number-data" type="number" placeholder="Salary" formControlName="salary">
    <span class="error" *ngIf="worker.get('salary').hasError('required') && worker.get('salary').touched"> Введите зарплату </span>
    <span class="error" *ngIf="worker.get('salary').hasError('min') && worker.get('salary').touched"> Зарплата не может быть меньше 0 </span>
  </li>
  <li>
    <input type="text" placeholder="Job" formControlName="job">
    <span class="error" *ngIf="worker.get('job').hasError('required') && worker.get('job').touched"> Введите должность </span>
  </li>
  <li>
    <button type="submit" [disabled]="worker.invalid">Добавить</button>
  </li>
</ul>
</form>
</div>
-->
