h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.workers {
  width: 70%;
  margin: .5rem;
}

.organizer {
  width: 30%;
  margin: .5rem;
  justify-content: space-between;
}





