.filter {
  display: flex;
  width: auto;
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  justify-content: space-between;

  input {
    margin-left: .5rem;
    width: 50%;
  }
}

.material-icons.md-36 {
  font-size: 36px;
}

ul {

  li {
    border: 1px solid #cccccc;
    border-radius: 5px;

    span {
      width: 100%;
      text-align: left;
      align-items: left;
    }

    &:hover:not(.title) {
      box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
      cursor: pointer;
    }
  }
}

.selected:not(.title) {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
}

i {
  background-size: 1rem;
  cursor: pointer;
}
