/* You can add global styles to this file, and also import other style files */
.fill-remaining-space {
  flex: 1 1 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;

  li {
    position: relative;
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
  }
}

mat-form-field {
  width: 100%;
}



